Repository OneLiteFeatherNET/vulpes-generator, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dungeon/teams/developers, @dungeon/teams/core, @dungeon/teams/devops

.github/CODEOWNERS:

* @dungeon/teams/developers
/.gitlab/CODEOWNERS @dungeon/teams/core
.gitlab-ci.yml @dungeon/teams/devops @dungeon/teams/core
.editorconfig @dungeon/teams/core

Add OpenAPIDefinition annotation
  src/main/java/net/theevilreaper/vulpes/generator/VulpesGenerator.java
Owners: @dungeon/teams/developers

Add more swagger annotations
  src/main/java/net/theevilreaper/vulpes/generator/controller/BuildInformationHandler.java
  src/main/java/net/theevilreaper/vulpes/generator/controller/CodeGenerationHandler.java
Owners: @dungeon/teams/developers

Update included tags
  src/main/java/net/theevilreaper/vulpes/generator/VulpesGenerator.java
Owners: @dungeon/teams/developers

Update minestom artifact
  settings.gradle.kts
Owners: @dungeon/teams/developers

Remove gitlab dependency definition
  settings.gradle.kts
Owners: @dungeon/teams/developers

Remove gitlab properties class
  src/main/java/net/theevilreaper/vulpes/generator/properties/GitlabProperties.java
Owners: @dungeon/teams/developers

Remove gitlab folder in the asset folder
  assets/gitlab/.gitlab-ci.yml
Owners: @dungeon/teams/devops, @dungeon/teams/core

Remove usage of the gitlab properties file
  src/main/java/net/theevilreaper/vulpes/generator/controller/BuildInformationHandler.java
  src/main/java/net/theevilreaper/vulpes/generator/controller/CodeGenerationHandler.java
  src/main/java/net/theevilreaper/vulpes/generator/git/GitWorker.java
Owners: @dungeon/teams/developers

Remove gitlab usage in the dependency block
  build.gradle.kts
Owners: @dungeon/teams/developers

Add license file
  assets/gradle_template/LICENSE
Owners: @dungeon/teams/developers

Update included dependencies and publishing section
  assets/gradle_template/build.gradle.kts
Owners: @dungeon/teams/developers

Update repository manamgent and dependency definition
  assets/gradle_template/settings.gradle.kts
Owners: @dungeon/teams/developers

Outsource some endpoints
  src/main/java/net/theevilreaper/vulpes/generator/controller/CodeGenerationHandler.java
Owners: @dungeon/teams/developers

Add controller classes to fetch git branches and download a generated vulpes base
  src/main/java/net/theevilreaper/vulpes/generator/controller/DownloadController.java
  src/main/java/net/theevilreaper/vulpes/generator/controller/GitBranchHandler.java
Owners: @dungeon/teams/developers

Add swagger annotation from the old controller handling
  src/main/java/net/theevilreaper/vulpes/generator/controller/DownloadController.java
  src/main/java/net/theevilreaper/vulpes/generator/controller/GitBranchHandler.java
Owners: @dungeon/teams/developers

feat(generator): Implement code generation services and controllers
  package-lock.json
  package.json
  src/main/java/net/onelitefeather/vulpes/generator/controller/BranchController.java
  src/main/java/net/onelitefeather/vulpes/generator/controller/BuildInformationHandler.java
  src/main/java/net/onelitefeather/vulpes/generator/controller/CodeGenerationHandler.java
  src/main/java/net/onelitefeather/vulpes/generator/controller/DeployController.java
  src/main/java/net/onelitefeather/vulpes/generator/controller/DownloadController.java
  src/main/java/net/onelitefeather/vulpes/generator/controller/ReferencesController.java
  src/main/java/net/onelitefeather/vulpes/generator/domain/GenerateCodeResponse.java
  src/main/java/net/onelitefeather/vulpes/generator/domain/attribute/AttributeModelResponseDTO.java
  src/main/java/net/onelitefeather/vulpes/generator/domain/build/BuildInformationDTO.java
  src/main/java/net/onelitefeather/vulpes/generator/domain/error/ErrorResponse.java
  src/main/java/net/onelitefeather/vulpes/generator/dto/GenerateCodeRequest.java
  src/main/java/net/onelitefeather/vulpes/generator/dto/attribute/AttributeModelDTO.java
  src/main/java/net/onelitefeather/vulpes/generator/git/GitWorker.java
  src/main/java/net/onelitefeather/vulpes/generator/properties/CommitProperties.java
  src/main/java/net/onelitefeather/vulpes/generator/properties/GitlabProperties.java
  src/main/java/net/onelitefeather/vulpes/generator/service/FileService.java
  src/main/java/net/onelitefeather/vulpes/generator/service/GeneratorService.java
  src/main/java/net/onelitefeather/vulpes/generator/service/GitService.java
  src/main/java/net/onelitefeather/vulpes/generator/service/RepositoryInitializerService.java
  src/main/java/net/onelitefeather/vulpes/generator/service/impl/FileServiceImpl.java
  src/main/java/net/onelitefeather/vulpes/generator/service/impl/GeneratorServiceImpl.java
  src/main/java/net/onelitefeather/vulpes/generator/service/impl/GitServiceImpl.java
  src/main/java/net/onelitefeather/vulpes/generator/service/impl/RepositoryInitializerServiceImpl.java
  src/main/java/net/onelitefeather/vulpes/generator/util/Constants.java
  src/main/java/net/onelitefeather/vulpes/generator/util/FileHelper.java
  src/main/resources/application.yml
  src/main/resources/gradle_template.zip
Owners: @dungeon/teams/developers

Remove gitlab properties class
  src/main/java/net/theevilreaper/vulpes/generator/properties/GitlabProperties.java
Owners: @dungeon/teams/developers

Remove gitlab folder in the asset folder
  assets/gitlab/.gitlab-ci.yml
Owners: @dungeon/teams/devops, @dungeon/teams/core

Remove gitlab usage in the dependency block
  build.gradle.kts
Owners: @dungeon/teams/developers

Remove gitlab dependency definition
  settings.gradle.kts
Owners: @dungeon/teams/developers

Remove usage of the gitlab properties file
  src/main/java/net/theevilreaper/vulpes/generator/controller/BuildInformationHandler.java
  src/main/java/net/theevilreaper/vulpes/generator/controller/CodeGenerationHandler.java
  src/main/java/net/theevilreaper/vulpes/generator/git/GitWorker.java
Owners: @dungeon/teams/developers

Remove Gitlab integration (#42)
  assets/gitlab/.gitlab-ci.yml
  build.gradle.kts
  settings.gradle.kts
  src/main/java/net/theevilreaper/vulpes/generator/controller/BuildInformationHandler.java
  src/main/java/net/theevilreaper/vulpes/generator/controller/CodeGenerationHandler.java
  src/main/java/net/theevilreaper/vulpes/generator/git/GitWorker.java
  src/main/java/net/theevilreaper/vulpes/generator/properties/GitlabProperties.java
Owners: @dungeon/teams/devops, @dungeon/teams/core, @dungeon/teams/developers

Add missing imports back
  src/main/java/net/theevilreaper/vulpes/generator/controller/DownloadController.java
Owners: @dungeon/teams/developers

Add more missing annotations back
  src/main/java/net/theevilreaper/vulpes/generator/controller/GitBranchHandler.java
Owners: @dungeon/teams/developers

Add junit param dependency
  build.gradle.kts
Owners: @dungeon/teams/developers

Documentation changes
  src/main/java/net/theevilreaper/vulpes/generator/registry/GeneratorRegistry.java
Owners: @dungeon/teams/developers

Overhaul generator registry
  src/main/java/net/theevilreaper/vulpes/generator/registry/GeneratorRegistry.java
  src/main/java/net/theevilreaper/vulpes/generator/registry/VulpesGeneratorRegistry.java
Owners: @dungeon/teams/developers

Add startup listener
  src/main/java/net/theevilreaper/vulpes/generator/listener/VulpesStartupListener.java
Owners: @dungeon/teams/developers

More code documentation
  src/main/java/net/theevilreaper/vulpes/generator/generation/AbstractCodeGenerator.java
  src/main/java/net/theevilreaper/vulpes/generator/generation/Generator.java
Owners: @dungeon/teams/developers

Remove additional registry layer
  src/main/java/net/theevilreaper/vulpes/generator/registry/RegistryProvider.java
Owners: @dungeon/teams/developers

Update registry class usage
  src/main/java/net/theevilreaper/vulpes/generator/controller/DownloadController.java
Owners: @dungeon/teams/developers

Improve data structure which saves generator related instances
  src/main/java/net/theevilreaper/vulpes/generator/registry/VulpesGeneratorRegistry.java
Owners: @dungeon/teams/developers

Improve class builder binding
  src/main/java/net/theevilreaper/vulpes/generator/generation/AbstractCodeGenerator.java
Owners: @dungeon/teams/developers

Change from Singleton to Prototype
  src/main/java/net/theevilreaper/vulpes/generator/generation/java/AttributeGenerator.java
  src/main/java/net/theevilreaper/vulpes/generator/generation/java/FontGenerator.java
  src/main/java/net/theevilreaper/vulpes/generator/generation/java/ItemGenerator.java
  src/main/java/net/theevilreaper/vulpes/generator/generation/java/NotificationGenerator.java
Owners: @dungeon/teams/developers

Add usage of the operationId
  src/main/java/net/theevilreaper/vulpes/generator/controller/BuildInformationHandler.java
  src/main/java/net/theevilreaper/vulpes/generator/controller/CodeGenerationHandler.java
  src/main/java/net/theevilreaper/vulpes/generator/controller/DownloadController.java
  src/main/java/net/theevilreaper/vulpes/generator/controller/GitBranchHandler.java
Owners: @dungeon/teams/developers

Change from Singleton to Prototype
  src/main/java/net/theevilreaper/vulpes/generator/generation/java/AttributeGenerator.java
  src/main/java/net/theevilreaper/vulpes/generator/generation/java/FontGenerator.java
  src/main/java/net/theevilreaper/vulpes/generator/generation/java/ItemGenerator.java
  src/main/java/net/theevilreaper/vulpes/generator/generation/java/NotificationGenerator.java
Owners: @dungeon/teams/developers

Improve class builder binding
  src/main/java/net/theevilreaper/vulpes/generator/generation/AbstractCodeGenerator.java
Owners: @dungeon/teams/developers

Improve data structure which saves generator related instances
  src/main/java/net/theevilreaper/vulpes/generator/registry/VulpesGeneratorRegistry.java
Owners: @dungeon/teams/developers

Documentation changes
  src/main/java/net/theevilreaper/vulpes/generator/registry/GeneratorRegistry.java
Owners: @dungeon/teams/developers

Remove additional registry layer
  src/main/java/net/theevilreaper/vulpes/generator/registry/RegistryProvider.java
Owners: @dungeon/teams/developers
